# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## macOS
.DS_Store

## Build generated
build/
DerivedData/
*.moved-aside
*.xcuserstate

## Obj-C/Swift specific
*.hmap
*.xccheckout
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcassets/AppIcon.appiconset/Contents.json

## Swift Package Manager
.build/
.swiftpm/
Packages/
Package.pins
Package.resolved

## Cocoapods
Pods/
Podfile.lock

## Secret Configurations
# IMPORTANTE: Nunca subir los xcconfig con secretos de producción
Secrets.xcconfig
*.xcconfig
!Debug.xcconfig.example
!Debug.xcconfig
!Release.xcconfig

## fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

## Certificados y firmas
*.cer
*.cert
*.p12
*.p7b
*.p7m
*.p7s
*.pem
*.key
*.csr
*.mobileprovision

## Crashlytics
com.crashlytics.settings.json
fabric.mac.maccrashreporter-info

## Ocultos
xcuserdata/
*.xcuserdatad/
.idea/
